@import url(../../../Common.css);

.signup-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--backgroundMain-color);
    color: var(--mainFont-color);
    z-index: 1;
}

.signup-container .signup-box {
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.signup-container .signup-title {
    margin: 20px 0;
    font-size: 1.8rem;
    font-weight: bold;

}

.signup-container .signup-id {
    display: flex;
}

.signup-container .signup-id>input {
    flex: 6;
}

.signup-container .signup-id>button {
    flex: 1;
}


.signup-container .msg {
    color: red;
    margin: 5px 0;
}