@import url(../../../Common.css);

.main-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--backgroundMain-color);

}

.main-container .main-view {
    position: absolute;
    width: 79%;
    height: 100%;
    z-index: 1;
    right: 0;
    overflow-y: scroll;
    -ms-overflow-style: none;
    
}

.main-container .main-view::-webkit-scrollbar {
    display: none;
}